<p class="pcenter w600" *ngIf="ajudas?.length == 0">Você ainda não apoiou nenhuma campanha</p>
<!-- <mat-progress-bar *ngIf="isWait" mode="indeterminate"></mat-progress-bar> -->
<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="ajudas" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="escola">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Escola </mat-header-cell>
      <mat-cell *matCellDef="let ajuda" data-label="escola"> {{ajuda.campanha.escola.nome}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="campanha">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Campanha </mat-header-cell>
      <mat-cell *matCellDef="let ajuda" data-label="campanha"> {{ajuda.campanha.titulo}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="contribuicao">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Contribuição </mat-header-cell>
      <mat-cell *matCellDef="let ajuda" data-label="contribuição"> {{ajuda.contribuicao}} ({{ajuda.qtd}}) </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let ajuda" data-label="status"> {{ajuda.status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let ajuda; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

</div>