<p class="pcenter w600" *ngIf="escolas?.length == 0">Não há verificações pendentes</p>
<mat-progress-bar *ngIf="isWait" mode="indeterminate"></mat-progress-bar>

<div class="example-container mat-elevation-z8">

  <mat-table *ngIf="escolas?.length > 0" [dataSource]="escolas" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="escola">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Escola </mat-header-cell>
      <mat-cell *matCellDef="let escola" data-label="escola"> {{escola.nome}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="rede">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rede </mat-header-cell>
      <mat-cell *matCellDef="let escola" data-label="rede"> {{escola.rede}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cidade">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </mat-header-cell>
      <mat-cell *matCellDef="let escola" data-label="cidade"> {{escola.endereco.cidade}}/{{escola.endereco.uf}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="acao">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Verificar conta </mat-header-cell>
        <mat-cell *matCellDef="let escola">
            <button (click)="confirmarVerificacao(escola._id)" type="button" class="btnTransp">
              <mat-icon title="Confirmar verificação">done</mat-icon>
            </button>
            <button (click)="rejeitarVerificacao(escola._id)" type="button" class="btnTransp">
              <mat-icon title="Rejeitar verificação">clear</mat-icon>
            </button>     
        </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let escola; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

</div>
