<p class="pcenter w600" *ngIf="ajudas?.length == 0">Não há novas ajudas</p>
<mat-progress-bar *ngIf="isWait" mode="indeterminate"></mat-progress-bar>
<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="ajudas" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="usuario">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Usuário </mat-header-cell>
      <mat-cell *matCellDef="let ajuda" data-label="usuário"> {{ajuda.usuario.nome}} {{ajuda.usuario.sobrenome}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="campanha">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Campanha </mat-header-cell>
      <mat-cell *matCellDef="let ajuda" data-label="campanha"> {{ajuda.campanha.titulo}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="contribuicao">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Contribuição </mat-header-cell>
      <mat-cell *matCellDef="let ajuda" data-label="contribuição"> {{ajuda.contribuicao}} ({{ajuda.qtd}}) </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let ajuda" data-label="status"> {{ajuda.status}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="acao">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ação </mat-header-cell>
        <mat-cell *matCellDef="let ajuda">
            <button (click)="confirmaAjuda(ajuda._id)" type="button" mat-mini-fab>
              <mat-icon>done</mat-icon>
            </button>
            <button (click)="dispensaAjuda(ajuda._id)" type="button" mat-mini-fab color="warn">
              <mat-icon>clear</mat-icon>
            </button>          
        </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let ajuda; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

</div>