<!-- Banner -->
<mat-card class="banner-card" >
  <mat-card-content>
    <div class="banner-content">
      <h1>Encontre a campanha mais próxima de você e se junte à nós em busca de uma educação de mais qualidade!</h1>
    </div>
  </mat-card-content>
</mat-card>


<div class="container-cards">
<!-- Swiper -->
<h3>Campanhas adicionadas recentemente</h3>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let campanha of campanhas">
      <mat-card class="result-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{campanha.escola.nome}} <mat-icon *ngIf="campanha.escola.verificado" color="accent">check_circle</mat-icon></mat-card-title>
          <mat-card-subtitle>{{campanha.escola.endereco.cidade}}/{{campanha.escola.endereco.uf}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h4 class="text-truncate">{{campanha.titulo}} </h4>
          <p class="block-with-text">
            {{campanha.descricao}}
          </p>
          <mat-icon *ngIf="campanha.tipo != 'Voluntariado'">card_giftcard</mat-icon>
          <mat-icon *ngIf="campanha.tipo != 'Material'">person</mat-icon>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>VER CAMPANHA</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
</div>