body {
    background: #eee;
}



/* BANNER */

.banner-card{
  height: 250px;
  background: linear-gradient( rgba(0,0,0,.5),rgba(0,0,0,.5)),
              url('../../../assets/img/banner2_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  padding: 10px 30px 10px 30px;
}

@media (max-width: 960px) {
  .banner-card{
    height: 200px;
  }
}

.banner-content {height: 200px; color: #eee; text-align: center; font-size: 1.5em}

@media (max-width: 960px) {
  .banner-content{
    font-size: 1.2em
  }
}

@media (max-width: 575px) {
  .banner-content{
    font-size: 1em
  }
}


// CONTEÚDO

.container-cards {
  width:90%;
  height:50%;
  padding-top:30px;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}



/* SWIPER */

.swiper-container {
  width: 100%;
  min-height: 350px;
  padding: 8px;
}

.swiper-wrapper{
  position: absolute ;
  height: 85%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // background: #fff;
  display: block; // tava flex antes, qualquer coisa voltar
  justify-content: center;
  align-items: center;

  :last-child {
    margin-right: 16px;
  }
}
  


/* CARDS */

mat-card {
  // position: absolute;
  width: auto;
  height: 100%;
  text-align: left;
  padding:0;
}

mat-card-header, mat-card-content {
  padding: 16px;
  padding-bottom: 0px;
}

mat-card-header {
  height: 30%;
}

mat-card-content {
  padding-right: 24px;
  padding-top: 0;
  overflow: hidden;
}

.example-header-image {
  background-image: url('../../../assets/img/icone-escola.png');
  background-size: cover;
}


mat-card-actions{
  display: inline-block;
  position: absolute;
  padding-left: 16px;
  bottom: 16px;
  width: 93%;
  button{
    width: 100%;
  }

  :last-child {
    margin-bottom: 0px;
  }
}


/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  
  /* */
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  height: 1em;
  margin-top: 0.2em;
  background: white;
}