.card-small-container {
    display: grid;
    padding: 20px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
}

.card-small {
  // width: auto;
  max-width: 250px;
  min-height: 300px;
}

.example-header-image {
    background-image: url('../../../assets/img/icone-escola.png');
    background-size: cover;
}

mat-card-actions{
    width: 100%;
}

body {
    background: #eee;
}



/* FORMULÁRIO DE BUSCA */

.banner-card{
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  padding: 10px 30px 10px 30px;
}

// @media (max-width: 960px) {
//   .banner-card{
//     height: auto;
//   }
// }

.banner-content {height: auto; text-align: left; font-size: 1}

mat-form-field {
  padding: 5px ;
  width: 200px;
}

@media (max-width: 960px) {
  .banner-content{
    font-size: 1em
  }
}

@media (max-width: 575px) {
  .banner-content{
    font-size: 0.9em;
    text-align: center;
  }
  mat-form-field {
    display: block;
    width: 100%;
  }
}

button {
    margin: 5px;
}