<!-- Banner -->
<mat-card class="banner-card" >
    <mat-card-content>
      <div class="banner-content">
        <h3>Busca por escola</h3>
        <form [formGroup]="buscaCampanhaForm" novalidate>
          <mat-dialog-content>

            <mat-form-field appearance="outline">
              <input type="text" placeholder="Escola" matInput formControlName="escola" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnEscola">
                <mat-option *ngFor="let escola of filtroEscolas | async" [value]="escola">
                  {{escola.nome}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            
            <div formGroupName="endereco">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Estado" [(value)]="selectedEstado" formControlName="uf" (selectionChange)="selecionado(selectedEstado)">
                  <mat-option *ngFor="let estado of estados" [value]='estado'>
                    {{estado.nome}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <input type="text" placeholder="Cidade" matInput formControlName="cidade" [matAutocomplete]="autom">
                <mat-autocomplete #autom="matAutocomplete">
                  <mat-option *ngFor="let cidade of filtroCidades | async" [value]="cidade">
                    {{cidade}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <button mat-flat-button color="accent" (click)="buscaCampanha(buscaCampanhaForm.value, $event)">Buscar</button>
            <button mat-flat-button color="accent" (click)="limparFiltro()">Limpar filtro</button>

          </mat-dialog-content>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  
  <div class="card-small-container">
    <mat-card class="card-small" *ngFor="let campanha of campanhasExibidas">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{campanha.escola.nome}} <mat-icon *ngIf="campanha.escola.verificado" color="accent" title="Conta verificada">check_circle</mat-icon></mat-card-title>
        <mat-card-subtitle>{{campanha.escola.endereco.cidade}}/{{campanha.escola.endereco.uf}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h4>{{campanha.titulo}}</h4>
        <p class="block-with-text">
          {{campanha.descricao}}
        </p>
        <span *ngIf="campanha.tipo != 'Voluntariado'"><mat-icon>card_giftcard</mat-icon> Doação de material</span>
        <span *ngIf="campanha.tipo != 'Material'"><mat-icon>person</mat-icon> Vaga de voluntário</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="getCampanha(campanha)">VER CAMPANHA</button>
      </mat-card-actions>
    </mat-card>
  </div>