<mat-card>
  <mat-card-content>
    <div class="containerX">
      <div fxLayout="row" fxFlex class="form-card" *ngIf="usuario">

        <div *ngIf="data.material.qtd > 1" fxFlex>
          <h4>Informe a quantidade de {{data.material.nome}} que deseja doar:</h4>
          <form [formGroup]="formConfirmaAjudaMaterial" novalidate (ngSubmit)="createAjuda(formConfirmaAjudaMaterial.value, formConfirmaAjudaMaterial.valid, $event)">
            
            <mat-form-field appearance="outline">
              <mat-label>Quantidade</mat-label>
              <input matInput placeholder="Quantidade" type="number" max="data.material.qtd" formControlName="qtd" required>
            </mat-form-field>            
            
            <button mat-flat-button class="w5" color="accent">Confirmar</button>
          </form>          
          <button mat-flat-button class="w5" (click)="onCloseCancel()" color="accent">Cancelar</button>
        </div>

      </div>


      <div fxLayout="row" fxFlex class="form-card" *ngIf="!usuario">

        <h3>É necessário fazer login</h3>

        <app-login></app-login>

      </div>
    </div>
  </mat-card-content>
</mat-card>